:root {
    --bg: #1D1E26;
    --bgSoft: #F2E5D5;
    --textHeading: #A65353;
    --textSub: #D99B84;
    --textFacts: #4A8C8C;
    --white: #F5F5F5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--white);
}

a {
    color: var(--bgSoft);
    text-decoration: none;
}

.container {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1536px) {
    .container {
        width: 1536px;
    }  
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;
    }  
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }  
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }  
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }  
}

@media (max-width: 640px) {
    .container {
        width: 400px;
    }  
}