.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: var(--bgSoft);
}